* {
  font-family: 'Montserrat', sans-serif;
}

html, body, header, section, footer {
  width: 100%;
}

body {
  margin: 0;
  padding: 10px 10px 10px 10px;
}

/* =====header===== */
#logo {
  width: 300px;
}

#logo_text {
  /* font-weight: 500; */
  font-weight: bold;
}

#github_repository {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* =====section===== */
#content>* {
  /*section안의 요소는 가로로 정렬*/
  float: left;
}

#content {
  padding-left: calc(50% - 600px);
}

#help_content {
  padding-left: 10px;
}

.two_tabs, .result {
  border: 1px solid grey;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
}

.two_tabs {
  width: 1200px;
}

.result {
  width: 400px;
  font-size: 20px;
}

.tab_header {
  width: 100%;
  margin-bottom: 0;
}

.tab_header>a {
  font-size: 30px;
  padding: 10px 10px 0px 10px;
  color: black;
  text-decoration: none;
  border-radius: 10px 10px 0px 0px;
  background-color: grey;
}

.tab {
  width: 100%;
  border: 1px solid grey;
  display: none;
}

.tab:target {
  display: block;
}

.send_form {
  width: 100%;
}

#input_code, #option_text {
  width: calc(100% - 30px);
}

#input_code, #output_code {
  height: 300px;
}

.center_or {
  margin-left: calc(50% - 10px);
}

.input, .option {
  /*send_form안의 요소는 가로로 정렬*/
  float: left;
}

.input {
  width: 50%;
}

.option {
  width: 50%;
}

.option>h4 {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

input[type=button] {
  height: 21px;
  top: 0;
  font-weight: bold;
  background: #333;
  border: 1px solid #333;
  color: #fff;
}

.reset_btn, .submit_btn {
  margin-top: 100px;
  float: right;
  background-color: green;
  color: white;
  font-size: 25px;
  padding: 3px 10px 3px 10px;
  margin-left: 15px;
  border-radius: 10px;
}

.reset_btn>img {
  width: 25px;
  position: relative;
  top : 3px;
}

.submit_btn>img {
  width: 20px;
}

/* #submit_btn {
  font-weight: bold;
  filter: grayscale(50%) opacity(0.6);
}

#submit_btn:hover {
  filter: none;
} */
.back_btn {
  margin-top: 50px;
  float: right;
  font-size: 18px;
  width: 190px;
  margin-right: calc(50% - 95px);
}

.file_btn {
  background-color: #0078FF;
  border: 1px solid #0078FF;
  font-size: 20px;
  padding: 3px 10px 3px 10px;
  color: white;
  border-radius: 30px;
  margin-left: calc(50% - 70px);
  width: 140px;
}

#output_code {
  width: calc(100% - 10px);
}

/* =================크기 작을 때==================== */
@media (max-width: 1400px) {
  .tabs {
    position: absolute;
    left: 30px;
    right: 30px;
    width: calc(100% - 60px);
  }

  #github_repository {
    background-color: black;
  }
}
